*{
     background-color: rgba(170, 205, 247, 0.5);
}
p{  text-decoration: wavy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: rgb(172, 182, 249);
    text-align:

}
h1{ text-align: center;
    color: rgb(43, 50, 50);
}
#firsttrans{
    text-align: center;
}